<div class="card transition duration-100 ease-in-out transform hover:scale-101 bg-gray-lightest rounded-sm overflow-hidden">
  <div class="hover:bg-purple-lighter relative">
    <a class="absolute w-full h-full" href="{{ project.link }}" target="_blank" rel="noopener" aria-label="{{project.title}}"></a>
    <div class="w-full sm:min-h-250 md:min-h-180 lg:min-h-250">
      <img class="w-full p-2" src="{{ project.image_path }}" alt="{{ project.title }} image" data-lazy="true" />
      <noscript>
        <img class="w-full p-2" src="{{ project.image_path }}" alt="{{ project.title }} image" loading="lazy" />
      </noscript>
    </div>
    <div class="px-4 pt-2 pb-4">
      <div class="flex items-center">
        <h1 class="text-base text-purple-dark mr-2 font-bold">
          {{ project.title }}
        </h1>

        {% include icons/external-link.svg %}
      </div>
      <a class="text-tiny text-gray-light font-sans" href="{{ project.link }}" target="_blank" rel="noopener" aria-label="{{project.title}}">
        {{ project.link_name }}
      </a>
    </div>
  </div>
  <div class="border-t border-gray-lighter {% if project.studio_name %} hover:bg-purple-lighter {% endif %} relative">
    <p class="px-4 py-3 text-tiny text-gray-light flex items-center font-sans">
      {% if project.studio_name %}
        <a class="absolute w-full h-full z-20" href="{{ project.studio_link }}" target="_blank" rel="noopener" aria-label="{{project.studio_name}}"></a>
        <span class="mr-1">
          Designed by
        </span>
        <span class="text-purple-dark border-b border-purple-dark inline-block mr-2">
          {{ project.studio_name }}
        </span>
        {% include icons/external-link.svg %}
      {% else %}
        <span class="mr-1">
          Designed by
        </span>
        <span class="text-purple-dark inline-block flex-grow">
          Unknown :(
        </span>
        <a href="mailto:cryptobrands@finiam.com?subject=I%20know%20who%20designed%20this!" class="text-purple-dark border-b border-purple-dark">I know!</a>
      {% endif %}
    </p>
  </div>
</div>
