<!DOCTYPE html>
<html lang={{ metadata.lang }}>
  <head>
    <link rel="icon" href="/static/favicon.png" />
    <script type="module" src="/_dist_/assets/scripts/index.js"></script>
    <link href="/_dist_/assets/styles/index.css" rel="stylesheet">

    <meta charset="utf-8" />
    <title>{{ metadata.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ metadata.description }}" />
    <meta name="keywords" content="{{ metadata.keywords }}" />
  </head>

  <body class="mx-auto flex flex-col min-h-screen">
    {% include components/navbar.liquid %}
    <main class="w-full px-5 py-20">
      {{ content | safe }}
    </main>
  </body>
</html>
