<!DOCTYPE html>
<html lang={{ metadata.lang }} class="no-js">
  <head>
    <link rel="icon" href="/images/favicon.png" />
    <link rel="apple-touch-icon" href="/images/favicon.png" />
    <script type="module" src="/_dist_/assets/scripts/index.js"></script>
    <link href="/_dist_/assets/styles/index.css" rel="stylesheet">

    <meta charset="utf-8" />
    <title>{{ metadata.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ metadata.description }}" />
    <meta name="keywords" content="{{ metadata.keywords }}" />

    <meta content="{{ metadata.title }}" property="og:title" />
    <meta content="{{ metadata.description }}" property="og:description" />
    <meta content="{{ metadata.image }}" property="og:image" />

    <meta content="{{ metadata.title }}" property="twitter:title" />
    <meta content="{{ metadata.description }}" property="twitter:description" />
    <meta content="{{ metadata.image }}" property="twitter:image" />

    <meta content="{{ metadata.title }}" property="twitter:title" />
    <meta content="{{ metadata.description }}" property="twitter:description" />
    <meta content="{{ metadata.image }}" property="twitter:image" />

    <meta property="og:type" content="website" />
    <meta content="summary_large_image" name="twitter:card" />
  </head>

  <body class="mx-auto flex flex-col min-h-screen bg-purple-dark">
    {% include components/navbar.liquid %}
    {% include components/about.liquid %}
    <main class="w-full px-5 py-20">
      {{ content | safe }}
    </main>
  </body>
</html>
